apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: {{ from_app }}-to-{{ to_app }}-bandwidth
spec:
  action: bandwidth
  mode: all
  selector:
    namespaces:
      - default
    labelSelectors:
      app: {{ from_app }}
  direction: to
  target:
    mode: all
    selector:
      namespaces:
        - default
      labelSelectors:
        app: {{ to_app }}
  bandwidth:
    rate: "{{ rate }}"
    buffer: 10000
    limit: 10000
